body{
    background-color: #00b3bc;
    font-family: 'Helvetica Neue', Helvetica, "Hiragino Sans GB", /*"PMingLiU",*/ "Microsoft YaHei", "SimSun", Arial, Sans-serif;
}

.main{
    position: relative;
    width: 872px;
    margin: 40px auto 0;
    border-top: 1px solid transparent;
}

.slogan{
    position: absolute;
    width: 468px;
    height: 40px;
    top: 0px;
    right: -80px;
    font-size: 0;
    text-indent: -99em;
    background: transparent url(../image/join-slogan.png) no-repeat;
}

.join-pic{
    margin: 60px 0 35px;
    width: 100%;
    height: 797px;
    background: transparent url(../image/join-pic.png) no-repeat center;
}

h1.join-head{
    font-size: 0;
    text-indent: -99em;
    background: transparent url(../image/join-h.png) no-repeat center;
    height: 152px;
}

#jobs-wrapper{
    position: relative;
    overflow: hidden;
    padding-top: 45px;
}

.job{
    position: relative;
    width: 300px;
    height: 470px;
    background: transparent url(../image/join-ball.png) no-repeat;
    margin: 35px 0;
    float: left;
    font-size: 16px;
    top: 1500px; /* +540px */
    *top: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.ball-float{
    top: 0px;
    transition: all 1s;
}
.ball-float:nth-child(2n){
    transition-delay: 0.3s;
}

.f-end{
    color: #ee8d31;
    *float: right;
}
.ios{
    color: #999;
    *float: right;
}
.v-designer{
    color: #ef4124;
    *float: right;
}
.b-end{
    color: #211b1d;
}
.s-ambassador{
    color: #3b67b5;
}

.job:nth-child(2n){
    float: right;
}

.job-content{
    width: 300px;
    height: 373px;
    padding-top: 24px;
    text-align: center;
}

.job-role{
    margin: 10px auto;
    background: transparent url(../image/join-role.png) no-repeat;
    width: 200px;
    height: 45px;
    text-indent: -99em;
}
.ios .job-role{
    background: url(../image/join_ios.png) no-repeat;
}
.v-designer .job-role{
    background-position: -200px 0;
}
.b-end .job-role{
    background-position: 0 -46px;
}
.s-ambassador .job-role{
    background-position: -200px -46px;
}

.job-desc{
    font-size: 14px;
}

.job-desc h3{
    width: 240px;
    height: 23px;
    background: transparent url(../image/join-hope.png) no-repeat;
    text-indent: -99em;
    margin: 28px auto 18px;
}
.ios .job-desc h3{
    background: url(../image/ios_hope.png) no-repeat;
}
.v-designer h3{
    background-position: 0 -23px;
}
.b-end h3{
    background-position: 0 -46px;
}
.s-ambassador h3{
    background-position: 0px -69px;
}

.job-desc p{
    line-height: 15px;
    max-width: 230px;
    margin: 0 auto 16px;
}
.job-desc p:nth-last-child(1),.job-desc p:nth-last-child(2){
    max-width: 190px;
}

.s-ambassador .job-desc p{
    margin: 0 auto 13px;
}


.apply-bt{
    margin: 30px auto 0;
    width: 88px;
    height: 40px;
    background-color: #fff;
    text-align: center;
}

.apply-bt a{
    color: inherit;
    width: 100%;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.stretch-line{
    margin: -45px auto 0;
    width: 8px;
    height: 700px; /*1170px;+540px*/
    *margin: -585px auto 0;
    background-color: #fff;
}

.footer{
    width: 100%;
}

.logo{
    background: transparent url(../image/logo-circle.png) no-repeat center;
    height: 192px;
    text-indent: -99em;
}

.f-slogan{
    background: transparent url(../image/join-fslogan.png) no-repeat center;
    height: 81px;
    margin: 43px 0 80px;
    text-indent: -99em;
}

#mask-mail{
    position: fixed;
    top: 0;
    background: rgba(255,255,255,.5);
    width: 100%;
    height: 600px;
    text-align: center;
}

#mask-mail img{
    position: relative;
    top: 50%;
    margin-top: -200px;
}

.hidden{
    display: none;
}

/************************ 联系我们 ************************/
body.contact{
    background: #4DC6A6 url(../image/contact_map.png) no-repeat fixed center center;
}

#contact-info{
    position: absolute;
    width: 394px;
    min-height: 630px;
    left: 50%;
    margin-left: -197px;
    top: 50%;
    margin-top: -315px;
    text-align: center;
    color: #fff;
    line-height: 1em;
}

.company{
    width: 100%;
    height: 93px;
    margin: 0 auto;
    text-indent: -999em;
    background: transparent url(../image/company_name.png) no-repeat;
    overflow: hidden;
}

.c-avatar{
    width: 260px;
    height: 260px;
    position: relative;
    margin: 60px auto 0;
    font-size: 0;
}

.c-avatar img{
    width: 240px;
    height: 240px;
    border-radius: 130px;
    border: 10px solid #fff;
}

.c-avatar .triangle{
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
    border-left: 20px transparent solid;
    border-right: 20px transparent solid;
    border-top: 24px solid #fff;
    *display: none;
}

.c-name{
    width: 100%;
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    margin-top: 40px;
}

.c-mail{
    font-size: 20px;
    margin: 8px 0 20px;
}

.c-word{
    font-size: 16px;
}

.c-btn{
    display: block;
    width: 160px;
    height: 50px;
    border: 2px solid #fff;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
    border-radius:27px;
    margin: 30px auto 0;
}

.c-btn span{
    display: inline-block;
    *display: block;
    width: 84px;
    height: 26px;
    margin: 12px 0;
    background: transparent url(../image/company_name.png) no-repeat -155px -125px;
    text-indent: -999em;
}

#road-sign{
    width: 108px;
    height: 75px;
    margin-left: -56px;
    margin-top: -58px;
    background: transparent url(../image/road_sign.png) no-repeat;
    position: absolute;
    left: -265px;
    top: 470px;
    /*left: 23.5%;
    top: 62.9%;*/
}