.wrap-container{width: 100%;height: 100%;background-color: #dcece8;}
.open-header{background-color: #fff;height: 88px;border-bottom: 1px solid #ccdad7;}
.open-mid-header{position: relative;z-index: 1;width: 72%;margin: 0 auto;height: 100%;}
.open-logo{position: absolute;width: 335px;height: 34px;left: 0;top: 27px;}
.open-logo>a{display: block;height: 100%;background: url(../image/open/top_logo.png) no-repeat;}
.open-logo-reg{top: 27px;}
.open-top{height: 400px;position: relative;z-index: 10;background: url(../image/open/top_bg.png) center 30px no-repeat;}
.open-top-title{position: absolute;right: 42.5%;top: 51%;width:264px;height:33px;background: url(../image/open/top_title.png) no-repeat;}
.open-top .top-slogen{position: absolute;top: 61%;right: 42.5%;color: #fff;display: inline-block;font-size: 16px;}
.open-middle{background: #fff;}
.open-mid-ril{width: 1000px;margin: 0 auto;padding-top: 65px;padding-bottom: 40px;}
.open-mid-r{border-bottom: 1px solid #d6ede8;}
.open-mid-title{width: 119px;height: 48px;margin: 0 auto;background: url(../image/open/open_right_txt.png) no-repeat;}
.open-tb{margin-top: 20px;}
.mt18{margin-top: 18px;}
.mt35{margin-top: 35px;}
.mt20{margin-top: 10px;}
.mt30{margin-top:30px;}
.mt40{margin-top: 40px;}
.open-tb .grb2{color: #b2cfc9;}
.open-tb td{border: none;}
.open-tb td>div{padding:0 15%;}
.open-tb p{font-size: 16px;color: #888;line-height: 150%;}
.open-tb p span{color: #555;}
.open-tb .li{padding-left:20px;background: url(../image/open/ico_li.png) no-repeat left center;}
.open-mid-coo{background: url(../image/open/coo_txt.png) no-repeat;}
.open-tb .coo-img{width: 143px;height: 142px;margin: 0 auto;}
.open-tb .coo-man{background-image: url(../image/open/share_man.png);}
.open-tb .coo-wx{background-image: url(../image/open/share_weixin.png);background-repeat: no-repeat;}
.open-tb .coo-inter{background-image: url(../image/open/share_inter.png);}
.wrap-open-bm{height: 225px;background: url(../image/open/bm_bg.png) no-repeat center bottom;}
.open-bm{background-color: rgba(70,178,154,.8);padding: 35px 0 20px 0;height: 170px;}
.open-bm-title{height: 23px;background: url(../image/open/contact_txt.png) no-repeat center center;}
.open-bm>p{color:#fff;line-height: 120%;text-align: center;}
.ft16{font-size: 16px;}
.ft14{font-size: 14px;}
.ft12{font-size: 12px;}
.apply-weixin{width: 120px;height: 38px;line-height: 38px;color: #fff;font-size: 16px;text-align: center;background-color: #4BC0A5;display: block;margin: 20px auto 0 auto;}
.apply-weixin:hover{background-color: #00ac90;}

































