.wrap-container{min-height:100%;background-color: #F6F9F9;}
.school_top{height: 120px;border-bottom: 1px solid #E4E6E6;background-color: #fff;text-align: center;}
.school_top>h3{display: inline-block;height: 100%;width: 753px;background: url(../image/school_logo.png) no-repeat center center;text-indent: -9999px;}
.school-area{width: 850px;margin: 0 auto;padding: 60px 0 20px 0;}
.wrap-school-search{text-align: center;}
.school-search{display: inline-block;}
.school-search .search-left{width: 56px;height: 50px;border: 1px solid #44c1a5;border-right:none;border-top-left-radius:25px;border-bottom-left-radius:25px;background-image: url(../image/sear_ico.png);background-repeat: no-repeat;background-position: center center;}
.school-search .search-ipt{width: 384px;height: 50px;border-top: 1px solid #44c1a5;border-bottom: 1px solid #44c1a5;}
.school-search .search-ipt>input{background-color: transparent;width: 100%;height: 48px;line-height: 48px;color: #4BBFA5;font-size: 16px;}
.school-search .search-btn{background-color: #4BC0A5;width:140px;height: 52px;line-height: 52px;cursor:pointer;font-size:18px;text-align: center;color: #fff;border-top-right-radius:25px;border-bottom-right-radius:25px;}
.search-active{background-color: #fff!important;}
.school-item{margin-top:40px;}
.item-title{text-align: center;}
.item-title-txt{height: 26px;line-height: 26px;display: inline-block;color: #4BC0A5;font-size: 18px;}
.item-title-txt:before{display: inline-block;content: "";width: 24px;height: 26px;background: url(../image/school_ico.png) no-repeat center 17px;}
.item-title-txt:after{display: inline-block;content: "";width: 24px;height: 26px;background: url(../image/school_ico.png) no-repeat center 16px;}
.school-list{text-align: center;}
.school-list>a{display: inline-block;color: #545454;font-size: 14px;white-space: nowrap;margin:20px 10px 0 10px;}
.school-list>a:hover{color: #4BBFA5;}
.school-bottom{margin: 30px auto 0 auto;width:580px;padding-top:15px;padding-bottom:20px;border-top:1px solid #4BC0A5;}
.school-bottom .if-contact{text-align: center;font-size:14px;color: #4BBFA5;line-height: 120%;}
.school-bottom .copyright{font-size: 12px;color: #ccc;margin-top: 30px;text-align: center;line-height: 120%;}
.sear-result{margin: 0 auto;width:580px;padding-top:15px;padding-bottom:20px;border-bottom:1px solid #4BC0A5;display: none;}
.sear-result .item-title-txt,.sear-result a{color: #4BBFA5;}
.mt0{margin-top: 0;}
.apply-school>a{display:block;width: 160px;height: 40px;font-size: 16px;color: #fff;text-align: center;line-height: 40px;margin: 20px auto 0 auto;background-color: #4BC0A5;border-radius: 20px;}
.apply-school>a:hover{background-color: #00ac90;}




