<div class="data-content hide">
    数据统计页面正在维护中...
</div>
<div class="page-login content hide" ng-controller="loginCtrl">
    <div class="outside-login">
        <div class="btn-weixin" ng-show="weixin">
            <a href="javascript:;" ng-click="loginByWeixin()"><i class="i-weixin"></i>微信登录</a>
        </div>
        <div class="btn-group" ng-show="weiboAndQQ">
			<span class="out-btn btn-weibo">
				<a href="javascript:;" ng-click="loginByWeibo()"><i class="i-weibo"></i>微博登录</a>
			</span>
			<span class="out-btn btn-qq">
				<a href="javascript:;" ng-click="loginByQQ()"><i class="i-qq"></i>QQ登录</a>
			</span>
        </div>
    </div>
    <h3 class="content-title login-title">
        <span class="title-line"></span>
		<span class="title-txt">
			<span class="login-txt-bg"></span>
		</span>
    </h3>
    <div class="wrap-tb">
        <form id="login-form" action="" method="post">
            <table class="tb-wap">
                <colgroup>
                    <col width="60">
                </colgroup>
                <tr>
                    <td class="pr"><span class="wrap-td-txt">手机号</span></td>
                    <td><input type="tel" require  name="user-tel" ng-model="userInfo.username"></td>
                </tr>
                <tr>
                    <td class="pr"><span class="wrap-td-txt">密码</span></td>
                    <td><input type="password" require name="user-pass" ng-model="userInfo.password"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="republic-box login-text-box">
        <a href="javascript:;" class="republic-txt" ng-click="login()">
            <i class="i-login-text"></i>
        </a>
    </div>
    <div class="login-foot">
        <div class="forgot-pass fr" ng-click="forgotPass()">忘记密码</div>
        <div class="register-txt">还没有账号，<span class="register-now" ng-click="registerNow()">立即注册</span></div>
    </div>
    <div class="space-box"></div>
</div>