<div class="content" ng-controller="indexCtrl">
    <h3 class="content-title">
        <span class="title-line"></span>
        <span class="title-txt">
            <span class="title-bg"></span>
        </span>
    </h3>
    <div class="slide-box">
        <div class="swiper-container home-swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <p class="slide-txt">潮流新品</p>
                    <img src="img/menu/demo_bg.png">
                </div>
                <div class="swiper-slide">
                    <p class="slide-txt">爆款新品</p>
                    <img src="img/menu/demo_bg.png">
                </div>
            </div>
        </div>
        <div class="wrap-content-slide">
            <div class="content-slide">
                <span class="swiper-pagination-switch swiper-active-switch"></span>
            </div>
        </div>
    </div>
    <div class="republic-box">
        <a href="javascript:;" class="republic-txt republic-product" ng-click="goPublish()">
            <i class="i-republic-txt"></i>
        </a>
    </div>
</div>
<div class="footer">
    <div class="opinion fr"><a href="javascript:;" ng-click="sendOpinion()">意见反馈</a></div>
    <div class="copyright">© 2015 易橙科技 版权所有</div>
</div>
<script src="js/swiper.js"></script>