<!DOCTYPE html>
<html ng-app="registerApp">
<head>
    <title>尤物</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<div class="container" ng-controller="registerController">
    <div class="logo-box">
        <a href="javascript:;" class="i-prev" ng-click="goBack()"></a>
        <span class="title-txt">注册尤物</span>
    </div>

    <div class="content">
        <div class="wrap-tb">
            <form id="register-form" action="" method="post">
                <table class="tb-wap">
                    <colgroup>
                        <col width="64">
                    </colgroup>
                    <tr class="tel-tr">
                        <td class="pr"><span class="wrap-td-txt">手机号</span></td>
                        <td><input type="tel" data-type="tel" require data-type="tel" name="user-tel" ng-model="userInfo.username" ng-click="testTel($event)"/></td>
                    </tr>
                    <tr>
                        <td class="pr"><span class="wrap-td-txt wrap-td-info">密码</span></td>
                        <td><input type="button" class="btn-tip show-pass fr" value="显示密码" ng-click="showPass($event)"><div class="wrap-ipt-pass"><input type="password" placeholder="大于6位" minLengths="6" require minlengths="6" name="user-pass" ng-model="userInfo.password"></div></td>
                    </tr>
                    <tr>
                        <td class="pr"><span class="wrap-td-txt wrap-td-info">验证码</span></td>
                        <td><input type="button" class="btn-tip get-valicode fr" value="获取验证码" ng-click="getValicode($event)"><div class="wrap-ipt-code"><input type="tel" require name="user-valid" ng-model="userInfo.random_code"></div></td>
                    </tr>
                </table>
                <div class="republic-box register-txt-box">
                    <a href="javascript:;" class="republic-txt" ng-click="register()">
                        <i class="i-register-txt"></i>
                    </a>
                </div>
            </form>
            <div class="wrap-back-login">
                <a href="javascript:;" class="back-login" ng-click="goLogin()"></a>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="../js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../js/jquery.validateform.js"></script>
<script type="text/javascript" src="../js/lib/md5.js"></script>
<script type="text/javascript" src="../js/lib/sha1.js"></script>
<script type="text/javascript" src="../js/module/app-register.js"></script>
<script type="text/javascript" src="../js/controller/app-register-controllers.js"></script>
<script type="text/javascript" src="../js/lib/util.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>