<div class="wrap" id="wrap" ng-controller="t1Ctrl">
    <div class="item item1">
        <div class="three-img">
            <p class="icon-wave"></p>
            <div class="img-item img-one ">
                <img id="imgSrc2" ng-src="{{imgSrc2}}">
            </div>
            <div class="img-two">
                <img id="imgSrc1" ng-src="{{imgSrc1}}">
                <div class="moke-6bx"></div>
            </div>
            <div class="img-item img-three">
                <img id="imgSrc3" ng-src="{{imgSrc3}}">
                <canvas class="mock-3b" id="mock-3b"></canvas>
            </div>
            <h2 class="line-three"></h2>
        </div>
        <div class="text-box">
            <p class="product-name" ng-bind="goods_name"></p>
            <div class="product-sale-box">
                <p class="product-sale"><span ng-bind="goods_price"></span></p>
                <p class="product-sale-wave"></p>
            </div>
        </div>
    </div>
    <div class="item item2 hidden">
        <div class="octagon"></div>
        <p class="product-txt" ng-bind="goods_detail">
        </p>
        <hr class="txt-line"/>
        <p class="contact-me">联系我：<span ng-bind="goods_contact"></span></p>
    </div>
    <div class="mock-line">
        <div class="item item3 hidden">
            <div class="wrap-img">
                <div class="img-box">
                    <img id="imgSrc4" ng-src="{{imgSrc4}}">
                    <div class="moke-8bx"></div>
                </div>
            </div>
        </div>
        <div class="item item4 hidden">
            <div class="wrap-img">
                <div class="img-box">
                    <img id="imgSrc5" ng-src="{{imgSrc5}}">
                </div>
            </div>
        </div>
        <div class="item item5 hidden">
            <div class="wrap-img">
                <div class="img-box">
                    <img id="imgSrc6" ng-src="{{imgSrc6}}">
                    <div class="moke-3bx"></div>
                </div>
            </div>
        </div>
        <div class="item item6 hidden">
            <div class="wrap-img">
                <div class="img-box">
                    <img id="imgSrc7" ng-src="{{imgSrc7}}">
                    <div class="moke-7bx"></div>
                </div>
            </div>
        </div>
        <div class="item item7 hidden">
            <div class="wrap-img">
                <div class="img-box">
                    <img id="imgSrc8" ng-src="{{imgSrc8}}">
                </div>
            </div>
        </div>
        <div class="item item8 hidden">
            <div class="wrap-img">
                <div class="img-box">
                    <img id="imgSrc9" ng-src="{{imgSrc9}}">
                    <div class="moke-10bx"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="item item9 hide">
        <div class="wrap-content">
            <img src="../img/moke/mock_6box.png">
            <div class="shop-logo">
                <img src="../img/menu/logo_shop.png">
            </div>
            <div class="wrap-img">
                <div class="text-devide"></div>
                <h3 class="shop-title">ARS SEOUL</h3>
                <h4 class="title-line"></h4>
                <p class="shop-info">
                    爱马仕(Hermes)拥有14个系列产品，
                    括皮具、箱包、丝巾、男女服装系列、
                    括皮具、箱包、丝巾、男女服装系列、
                    括皮具、箱包、丝巾、男女服装系列、
                    水、手表等...
                </p>
            </div>
            <div class="go-shop">
                <p class="go-txt">进入店铺</p>
                <a href="javascript:;" class="shop-back"></a>
            </div>
        </div>
        <div class="uwu-txt">
            <div class="img-devide"></div>
            <a class="a-uwu-txt" href="javascript:;"></a>
        </div>
    </div>
</div>