body,h1,h2,h3,p,ul,li,a,img,input,fieldset,legend,button{
    margin: 0;
    padding: 0;
    border: none;
}

h1,h2,h3,a{
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    font-weight: normal;
}

p,a,span{
    word-wrap: break-word;
    word-break: break-all;
}

ul{
    list-style:none;
}

input,textarea,fieldset,button{
    outline: none;
}