.tpl-container{padding-bottom: 120px;}
.logo-box{width:100%;height:44px;line-height: 44px;text-align: center;position: relative;color: #222;}
.i-prev{position: absolute;left:3rem;top:1.1rem;width: 2rem;height: 1.8rem;display: inline-block;background: url(../img/menu/icon_back.png) no-repeat;background-size:contain;}
.btn-finish{padding:0 0.3rem;font-size: 1.7rem;margin-right:2rem;color: #222;}
.title-txt{font-size: 1.7rem;}
.logo-box .publish-prev{left: 2rem;}
.logo-box .publish-title-txt{position: relative;left: 50%;-webkit-transform:translate(-50%,0);display: inline-block;}
.tpl-logo-box{text-align: left;}
.tpl-nav{position: fixed;z-index: 9990;bottom: 0;width: 100%;background-color: rgba(34,34,34,0.96);max-width: 750px;}
.wrap-tpl-lst{overflow: hidden;width: 100%;overflow-x: auto;}
.tpl-lst{padding:10px 20px 5px 0;}
.tpl-lst li{margin-left:20px;float: left;width: 64px;}
.tpl-lst .img-item{background-image: url(../img/tpl/normal.png);background-size: contain;background-repeat:no-repeat;height: 72px;padding: 4px;-webkit-box-sizing:border-box;}
.tpl-lst p{font-size: 12px;color: #fef6ef;text-align: center;margin-top: 5px;line-height: 120%;}
.tpl-lst .active .img-item{background-image: url(../img/tpl/active.png);}
.tpl-lst .active p{color: #54e1d3;}


/*template css*/
.wrap{width: 100%;max-width:750px;margin: 0 auto;color: #000;background-color: #fff;overflow: hidden;z-index:1;overflow-y: auto;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}
.img-box{background-color: #fff;padding: 1px;-webkit-box-sizing: border-box;}
.wrap .swiper-wrapper{width: 100%;}
.wrap .mock-line{width:82.3%;margin:0 auto;margin-top:3rem;background-image: url(../img/moke/mock_line.png);background-repeat: repeat-y;background-size: contain;overflow: hidden;}
.item{position:relative;text-align:center;}
.item1 .icon-wave{position: relative;left: 14%;top:5.5rem;width: 33.2%;height: 1rem;z-index:444;background-image:url(../img/menu/icon_wave.png);background-size: contain;}
.item1 .img-item{position: absolute;}
.item1 .three-img{position: relative;}
.item1 .img-one{bottom:-4%;width: 29.3%;border-left: 4px solid #222;z-index: 222;margin-left: 4.5%;}
.item1 .img-two{margin:3.2rem auto 0 auto;width: 51.2%;z-index: 111;position: relative;}
.item1 .moke-6bx{position: absolute;z-index: 112;left: 0;top: 0;width: 100%;height: 100%;background-image: url(../img/moke/mock_6bx.png);background-repeat: no-repeat;background-size: contain;}

.item1 .img-three{bottom:-3%;width: 34.7%;z-index: 223;right: 4.5%;}
.item1 .img-three img{opacity: 0;}
.item1 .mock-3b{width: 100%;height: 100%;display: block;position: absolute;z-index:224;left: 0;top: 0;}
.item1 .text-box{color: #000;text-align: center;width: 80%;margin: 60px auto 0 auto;}
.item1 .product-name{font-size: 19px;padding: 1.5rem 0;border: 2px solid #222;border-left: none;border-right: none;line-height: 150%;}
.item1 .product-sale-box{margin: 0 auto;display: inline-block;}
.item1 .product-sale{font-size: 17px;margin-top: 3rem;display: inline-block;padding: 0 3px;}
.item1 .product-sale-wave{background-size: contain;background-image: url(../img/menu/icon_small_wave.png);height: 0.4rem;margin-top: 0.5rem;}

.item2 .octagon{width: 4rem;height: 4rem;margin:4rem auto 2rem auto;background-image: url(../img/menu/icon_octagon.png);background-size: contain;background-repeat: no-repeat;}
.item2 .product-txt{width: 80%;margin: 0 auto;color: #000;line-height: 150%;font-size: 15px;}
.item2 .txt-line{margin: 2rem auto;width: 3rem;height: 0;border-bottom: 1px solid #000;}
.item2 .contact-me{margin: 2rem auto;display:inline-block;max-width:60%;padding:0 1.5rem;color: #212121;font-size: 16px;line-height: 150%;border-left: 2px solid #212121;border-right: 2px solid #212121;}

.item3 .wrap-img{position: relative;width: 100%;}
.item3 .img-box{position: relative;width:100%;}
.item3 .moke-8bx{position: absolute;z-index: 3333;left: 0;top: 0;width: 100%;height: 100%;background-image: url(../img/moke/mock_8bx.png);background-repeat: no-repeat;background-size: contain;}

.item6 .wrap-img{position: relative;width: 100%;margin-top:10px;}
.item8 .wrap-img{position: relative;width: 100%;margin-top:50px;}
.item6 .img-box,.item8 .img-box{position: relative;width:100%;}
.item6 .moke-7bx{position: absolute;z-index: 3333;left: 0;top: 0;width: 100%;height: 100%;background-image: url(../img/moke/mock_7bx.png);background-repeat: no-repeat;background-size: contain;}
.item8 .moke-10bx{position: absolute;z-index: 3333;left: 0;top: 0;width: 100%;height: 100%;background-image: url(../img/moke/mock_10bx.png);background-repeat: no-repeat;background-size: contain;}

.item4 .wrap-img{text-align:center;margin-top: 50px;}
.item4 .img-box{padding:2rem 0;position: relative;z-index:4441;margin:0 auto;border: 4px solid #222;background-color:#fff;width: 53.3%;}
.item4 .wrap-img img{width:188%;left:50%;-webkit-transform:translate(-50%,0);position: relative;z-index:4444;}

.item5 .wrap-img{width: 100%;position: relative;margin-top: 50px;}
.item5 .img-box{position: relative;width:100%;}
.item5 .moke-3bx{position: absolute;z-index: 3333;left: 0;top: 0;width: 100%;height: 100%;background-image: url(../img/moke/mock_3bx.png);background-repeat: no-repeat;background-size: contain;}


.item7 .wrap-img{width: 100%;margin-top:42.5px;position: relative;}
.item7 .img-box{position: relative;right: 0;bottom: 0;border-radius: 50% 50%;border:4px solid #222;}
.item7 .img-box img{border-radius: 50% 50%;}

.item9{padding-bottom: 4rem;}
.item9 .wrap-content{width: 66.7%;position: relative;z-index: 222;left: 50%;-webkit-transform:translate(-50%,0);margin-top: 50px;margin-bottom:8rem;}
.item9 .wrap-img{position: relative;left: 50%;-webkit-transform:translate(-50%,0);z-index:333;}
.item9 .shop-logo{position: absolute;z-index: 334;top: -7%;left:50%;-webkit-transform:translate(-50%,0);width: 40%;}
.item9 .shop-logo img{border-radius: 50% 50%;}
.item9 .wrap-img{position: absolute;z-index:555;top: 31%;width: 89.2%;left: 50%;-webkit-transform:translate(-50%,0);}
.item9 .shop-title{font-size: 17px;color: #fff;}
.item9 .text-devide{height: 33%;}
.item9 .title-line{display:block;width: 43px;height: 4px;margin: 0.7rem auto;background-image: url(../img/menu/title_wave.png);background-size: contain;}
.item9 .shop-info{margin: 0 1rem;line-height: 16px;color: #ccc;font-size: 12px;text-align: center;max-height:82px; overflow: hidden;}
.item9 .go-shop{display: inline-block;text-align: center;position: absolute;z-index:555;left: 50%;-webkit-transform:translate(-50%,0);bottom: 1rem;}
.item9 .go-shop .go-txt{color: #4be2d4;font-size: 12px;margin-bottom: 0.1rem;}
.item9 .go-shop .shop-back{width:22px;height: 22px;background-image: url(../img/menu/shop_back.png);display: inline-block;}
.item9 .uwu-txt{position: absolute;bottom:4rem;left: 50%;-webkit-transform:translate(-50%,0);width: 150px;height: 40px;border: 2px solid #222;}
.item9 .uwu-txt .a-uwu-txt{display: inline-block;vertical-align: middle;width: 104px;height: 14px;background-image: url(../img/menu/uwu_txt.png);}















































































