body{
    background-color: #F6F7E4;
}

.topic .download-hide,.show .download-hide{
    margin-top: 10px;
}

.topic-title{
    width: 94%;
    height: 100px;
    background-color: #fd715b;
    color: #fff;
    -moz-box-shadow:inset 0px -1.5px 1.5px rgba(0,0,0,0.1);
    -webkit-box-shadow:inset 0px -1.5px 1.5px rgba(0,0,0,0.1);
    box-shadow:inset 0px -1.5px 1.5px rgba(0,0,0,0.1);
}

.topic-title h1{
    display: table;
    min-height: 35px;
    font-size: 17px;
    line-height: 1.2em;
    padding: 15px 15px 0;
}

.topic-title h1 img{
    width: 35px;
    margin-right: 10px;
}

.topic-title h1 span{
    display: table-cell;
    vertical-align: middle;
}

.tatistics{
    background: transparent url(../image/ico_dialog.png) no-repeat left bottom;
    background-size: auto 12px;
    padding: 10px 0 0 20px;
    margin: 9px 15px 0 60px;
    line-height: 1em;
    border-top: 1px #ffffff solid;
    font-size: 12px;
}

.comment_wrapper,.show-title{
    background-color: #fff;
    position: relative;
    font-size: 14px;
    width: 94%;
    color: #b2a57f;
    -moz-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
    box-shadow:0px 0px 2px rgba(0,0,0,0.15);
}

.comment,.ershou-detail li{
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.comment{
    border-bottom: 1px solid #ebebeb;
}

.comment:last-child{
    border-bottom: 2px solid #c0b18e;
}

.name{
    font-size: 0;
    width: 17%;
    height: 100%;
    float: left;
    text-align: center;
    position: relative;
}

.name div{
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
}

.name img{
    width: 100%;
}

.host .avatar div:after{
    content: "<div></div>";
    background: transparent url(../image/host.png) no-repeat 0 bottom;
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}

.value{
    float: right;
    position: relative;
    width: 83%;
}

.comm-content p{
    margin-right: 35px;
}

.floor-num{
    text-align: right;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    width: 30px;
    height: 20px;
    line-height: 20px;
    color: #aaaaaa;
    font-size: 10px;
}

.comment-btn{
    position: fixed;
    bottom: 20px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(252,87,32,0.8);
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.8);
    -moz-box-shadow:0px 0px 4px rgba(0,0,0,0.16);
    -webkit-box-shadow:0px 0px 4px rgba(0,0,0,0.16);
    box-shadow:0px 0px 4px rgba(0,0,0,0.16);
}

.comment-btn a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #fff;
}

.comment:after{
    content:"";
    display: block;
    clear: both;
}

.show-title{
    margin-bottom: 8px;
    line-height: 1.4em;
    border-bottom: 2px solid #c0b18e;
}

.show-title h1{
    margin: 10px 10px 15px;
    font-size: 15px;
    overflow: hidden;
}

.show-title p{
    position: relative;
    margin: 0 10px;
    padding: 10px 0;
    color: #878787;
    border-top: 1px solid #C0B18E;
}

.triangle{
    position: absolute;
    top: -6px;
    left: 50px;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-left: 1px solid #C0B18E;
    border-top: 1px solid #C0B18E;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.show-pic{
    position: relative;
    margin: 0 10px;
    padding-top: 10px;
}

.show-pic img{
    width: 100%;
}

.location{
    padding-right: 12px;
    height: 24px;
    line-height: 24px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: rgba(178,156,122,0.8) url(../image/ico_loc.png) no-repeat 5px center;
    background-size: auto 50%;
    color: #fff;
    font-size: 12px;
}

.location span{
    padding-left: 20px;
}


.comment-input{
    position: fixed;
    left: 3%;
    bottom: 0;
    width: 94%;
    height: 130px;
    background-color: #7EC7D5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    box-shadow: 0 -1px 1px rgba(0,0,0,0.14);
}

.comment-input label{
    display: block;
    width: 30%;
    font-size: 16px;
    margin: 8px 10px;
    font-weight: bold;
}

#put-comment{
    display: block;
    margin: 0;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: 13px;
    line-height: 1.2em;
    width: 94%;
    padding: 0 3%;
    height: 90px;
}

.submit-btn{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background-color: transparent;
    color: #F4F64D;
    font-size: 16px;
    margin: 8px 10px;
    font-weight: bold;
}

/****************** 商品详情页 ************************/
body.detail{
    background-color: #e3eeec;
}

.detail .download-hide{
    margin-bottom: 10px;
}

.ershou-photos{
    font-size:0;
    position: relative;
}

.big-photos{
    overflow: hidden;
    position: relative;
}

.big-photos ul{
    /*position: relative;
    left: 0;*/
    -webkit-transform: matrix(1,0,0,1,0,0);
    transform: matrix(1,0,0,1,0,0);
    -ms-touch-action: none;
    -webkit-backface-visibility:hidden;
}

.big-photos li{
    float: left;
    -webkit-transform:translateZ(0);
}

.big-photos img{
    width: 100%;
}

.sliding{
    /*transition: left 0.4s ease;*/
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.slide-dots{
    position: absolute;
    bottom: 28px;
    width: 100%;
    text-align: center;
}

.slide-dots li{
    display: inline-block;
    width: 0px;
    border: 4px solid rgba(60,194,165,0.6);
    border-radius: 4px;
    margin: 0 2px;
}
.slide-dots li.active{
    border-color: #ffb300;
}

.ershou-info{
    position: relative;
}

.ershou-hd{
    /*height: 65px;*/
    background-color: #44c1a5;
    color: #fff;
    margin-bottom: 8px;
}

.ershou-title{
    padding: 10px 60px 8px 3%;
    font-size: 15px;
}

.ershou-place{
    margin-left: 3%;
    padding-bottom: 10px;
    font-size: 12px;
}
.ershou-place .bro-counts{
    font-size: 12px;
    float: right;
    margin-right:10px;
}
.ershou-place span {
    display: inline-block;
    line-height: 16px;
}

.ershou-place .ershou-left-add{
    background: transparent url(../image/icons.png) no-repeat 0 -14px;
    background-size: 15px;
    padding-left:18px;
}

.ershou-price{
    font-size: 20px;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 15px;
    top: -27px;
    border-radius:27px;
    background-color: #ffb300;
    text-align: center;
}

.ershou-price span{
    display: inline-block;
    color: white;
}

.ershou-price .yen{
    position: absolute;
    top: 2px;
    left: 19px;
    width: 16px;
    height: 15px;
    background: transparent url(../image/icons.png) no-repeat;
    background-size: 100%;
    font-size: 0;
}
.ershou-price .price{
    width: 100%;
    line-height: 54px;
}

.ershou-detail{
    width: 94%;
    margin: 0 3%;
    color: #777777;
}

.ershou-detail li{
    padding: 15px 0;
    min-height: 40px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 5px;
    -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.18);
    -moz-box-shadow:0px 0px 1px rgba(0,0,0,0.18);
    box-shadow:0px 0px 1px rgba(0,0,0,0.18);
}

.seller-info{
    height: 40px;
}

.seller-info div{
    padding-bottom: 5px;
}

.identity{
    font-size: 12px;
}

.seller-name{
    font-size: 0;
    height: 40px;
    line-height: 40px;
}

.seller-name span{
    font-size: 14px;
    color: #555555;
    padding-right: 10px;
}

.detail-grade{
    width: 25px;
}

.ershou-desc .name div,.ershou-contact .name div{
    width: 28px;
    height: 28px;
    border: 1px solid #44c1a5;
    border-radius: 15px;
    text-indent: -99em;
    background-color: #44c1a5;
}
.ershou-desc .name span,.ershou-contact .name span{
    display: block;
    width: 16px;
    height: 16px;
    margin: 6px;
    background: transparent url(../image/icons.png) 0 -30px no-repeat;
    background-size: 100%;
}

.detail-desc{
    line-height: 1.5;
}

.detail-desc p{
    margin-right: 10px;
}

.ershou-contact .name span{
    background-position: 0 -45px;
}

.telqq p{
    height: 20px;
    line-height: 20px;
}

.telqq span{
    width: 32px;
    display: inline-block;
}
.telqq .ope-attr{
    font-size: 14px;
    color: #4BBFA5;
    margin-left: 5px;
}
.detail .comment_wrapper{
    color:#777777;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    -moz-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.15);
    box-shadow:0px 0px 2px rgba(0,0,0,0.15);
    padding-bottom: 10px;
}

.detail .comment:last-child{
    border-bottom: none;
}

.comment-hd .comment-ico{
    background: transparent url(../image/comment_hd.png) no-repeat;
    background-size: auto 100%;
}

.comment-hd h3{
    height: 30px;
    text-indent: -999em;
    background: transparent url(../image/comment_hd.png) no-repeat -42px 0;
    background-size: auto 100%;
}

.comment-hd .value p{
    position: absolute;
    right: 0;
    top: 0px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    margin-right: 10px;
    color: #999999;
}

.detail .floor-num{
    color: inherit;
}

.detail .comment-btn{
    position: static;
    margin: 0px auto 0;
}

/********************* ONE **********************/
.one-container{
    background-color: #7F6845;
    padding: 10px 0 8px;
    position: relative;
}

.one-hd,.one-detail{
    width: 94%;
    margin: 0 auto;
}

.one-hd,.one-detail li{
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 10px;
    border-bottom: #D7B995 solid 3px;
}

.one-hd{
    color: #714D2A;
    position: relative;
}

.one-photos{
    position: relative;
    background-color: #7F6845;
    font-size: 0;
}

.one-photos .big-photos li{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.one-photos .slide-dots li{
    border-color: rgba(245,179,69,0.4);
}
.one-photos .slide-dots li.active{
    border-color: #FF6029;
}

.one-detail{
    color: #7F6845;
}

.one-price{
    position: absolute;
    background-color:rgb(245,179,69);
    width:70px;
    height:70px;
    -moz-border-radius:35px;
    -webkit-border-radius:35px;
    border-radius:35px;
    -moz-box-shadow:0px 0px 1px rgba(0,0,0,0.35);
    -webkit-box-shadow:0px 0px 1px rgba(0,0,0,0.35);
    box-shadow:0px 0px 1px rgba(0,0,0,0.35);
    right: 6px;
    bottom: -35px;
}

.one-price span{
    display: block;
    color: #fff;
}

.one-price .yen{
    width: 100%;
    height: 13px;
    background: transparent url(../image/money.png) no-repeat center;
    background-size: auto 100%;
    margin: 6px 0 3px;
}

.one-price .price{
    font-size: 24px;
    text-align: center;
}

.certi-img{
    position: absolute;
    width: 94px;
    right: 10px;
    top: 10px;
}

.certi-img img{
    width: 100%;
}

h2.one-title{
    font-size: 17px;
    line-height: 1.4em;
    margin: 10px 80px 10px 10px;
    min-height: 50px;
}

.wants{
    position: absolute;
    min-width: 70px;
    bottom: 12px;
    right: 6px;
    text-align: center;
    color: #F5B345;
    font-size: 12px;
}

.one-detail .name{
    width: 25%;
    text-align: right;
}

.one-detail .value{
    width: 75%;
    font-size: 15px;
    color:#7F6745;
    line-height: 1.4em;
}

.one-detail .value p{
    margin-right: 15px;
}

.one-detail .one-icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #7F6845;
    margin-right: 20px;
    text-align: center;
}

.one-detail .one-icon span{
    display: inline-block;
    background: transparent url(../image/one_icons.png) no-repeat left;
    background-size: 200%;
    width: 24px;
    height: 40px;
}

.one-state{
    padding: 25px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.one-desc{
    padding: 15px 0;
}

.one-desc .one-icon span{
    background-position: right;
}

.buy-btn{
    background-color:rgba(255,96,41,0.8);
    width:120px;
    height:40px;
    border: 1px rgba(255,255,255,0.8) solid;
    -moz-box-shadow:0px 0px 2px rgba(0,0,0,0.16);
    -webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.16);
    box-shadow:0px 0px 2px rgba(0,0,0,0.16);
    border-radius: 20px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

.buy-btn a{
    display: block;
    color: inherit;
}

#order-wrapper{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6)
}

#order-data{
    width: 88%;
    /*margin: 15px auto 0;*/
    position: fixed;
    top: 30px;
    left: 50%;
    margin-left: -44%;
    background-color:#F2EBD8;
    border-radius: 8px;
    border-bottom: #D7B995 solid 3px;
}

#order-data legend{
    background-color: #B3DBBE;
    width: 100%;
    height: 43px;
    line-height: 43px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    color: #fff;
    font-size: 17px;
}

.order-tip{
    margin: 0px 20px 15px;
    padding-top: 15px;
    font-size: 14px;
    color:#B29A80;
    line-height: 1.4em;
}

.buyer-info{
    margin: 10px 20px 0;
    color:#89724C;
    font-size: 15px;
    height: 45px;
    line-height: 45px;
}

.buyer-info label{
    display: inline-block;
    width: 28%;
    text-align: center;
}

.buyer-info input{
    display: inline-block;
    width: 70%;
    height: 100%;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    text-indent: 1em;
    color: inherit;
}

.order-submit{
    display: block;
    margin: 15px auto 20px;
    background-color:rgb(255,96,41);
    width:240px;
    height:45px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border-bottom: 2px solid #C13814;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.ershou-address{background-color: #fff;padding:10px 0;margin-top:-8px;margin-bottom: 10px;}
.ershou-address>p{color: #44c1a5;font-size: 12px;margin-left: 12px;padding-left: 16px;line-height: 140%;background: url(../image/ico_loca.png) no-repeat 1px 1px;}
.ershou-address>p>span{color: #44c0a5;}