body,h1,h2,h3,p,ul,li,a,img,input,fieldset,legend{
    margin: 0;
    padding: 0;
    border: none;
}

h1,h2,h3,a{
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    font-weight: normal;
}

p,a,span{
    word-wrap: break-word;
    word-break: break-all;
}

ul{
    list-style:none;
}

input,textarea,fieldset{
    outline: none;
}

body{
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.container{
    width: 100%;
    /*margin-bottom: 45px;*/
}

.center{
    margin: 0 auto;
}

.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

.clearfix{
    zoom:1;
}

.hidden{
    display: none;
}

.hidden2{
    visibility: hidden;
}

header.bottom,header.top{
    position: relative;
    height: 60px;
}

header.bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(68,193,165,0.8);
    z-index: 9;
}

header.top{
    width: 94%;
    margin: 10px auto;
    background-color: #44C1A5;
}

.slogan{
    float: left;
    position: relative;
    width: 180px;
    height: 40px;
    background: transparent url(../image/logo-slogan.png) no-repeat;
    background-size: auto 100%;
    margin: 10px 0 0 10px;
    color: #fff;
}

.slogan h1{
    font-size: 0;
    text-indent: -99em;
}

.s-main{
    width: 40px;
    height: 40px;
}

.s-main a{
    display: block;
    width: 100%;
    height: 100%;
}

.s-submain{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 49px;
    /*overflow: visible;*/
    white-space: nowrap;
}

.download-btn{
    height: 60px;
    float: right;
    width: 90px;
    line-height: 60px;
    margin-right: 10px;
}

.download-btn a{
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    width: 100%;
    border-radius: 15px;
    font-size: 0;
    text-indent: -99em;
    background: #fff url(../image/download.png) no-repeat center;
    background-size: 67px;
}

header .close{
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: transparent url(../image/close.png) no-repeat;
    background-size: 100%;
    /*position: absolute;
    right: 0;*/
    float: right;
    margin: 3px 3px 0 0;
}

.close a{
    font-size: 0;
    text-indent: -99em;
    display: block;
    width: 100%;
    height: 100%;
}

header.top .close{
    background-color: #44C1A5;
    float: none;
    position: absolute;
    right: -10px;
    top: -10px;
}

footer.copyright{
    text-align: center;
    font-size: 12px;
    color: #AAAAAA;
    line-height: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
}
.copyright .wx-link{
    font-size: 12px;
    color: #24B19C;
}
div.header{
    height: 30px;
    background-color: #3CC2A5;
    padding: 5px 10px;
}

.h-logo{
    float: left;
    font-size: 0;
}

.h-logo a{
    display: block;
}

.h-logo span{
    width: 30px;
    height: 30px;
    display: inline-block;
    background: transparent url(../image/logo-slogan.png) no-repeat;
    background-size: auto 100%;
    margin-right: 5px;
}

.h-logo h1{
    display: inline-block;
    width: 80px;
    height: 30px;
    background: transparent url(../image/logo-slogan.png) no-repeat right 4px;
    background-size: 128px;
}

.open-api,.download-api{
    width: 96px;
    height: 18px;
    float: right;
    background: transparent no-repeat right;
    background-size: auto 100%;
    margin: 6px 0;
    font-size: 0;
}

.open-api a,.download-api a{
    display: block;
    width: 100%;
    height: 100%;
}

.open-api{
    width: 82px;
    background-image: url(../image/open_api.png);
}
.download-api{
    background-image: url(../image/download_api.png);
}