.wrap{width: 1020px;margin: 0 auto;}
.title{height: 30px;background-color: #ddd;}
.title .left{padding-left:20px;height: 30px;line-height: 30px;font-size: 12px;color: #999;}
.title .right{padding-right:20px;height: 30px;line-height: 30px;font-size: 12px;color: #999;}
.title .right a{font-size: 12px;color: #999;}
.title .right a:hover{color: #fff;}
.logo-area{height: 90px;}
.logo{width: 130px;height: 73px;margin-top: 9px;margin-left: 15px;background: url(../img/logo.png);}
.wrap-nav{background-color: #02a2de;}
.wrap-nav li{float: left;height: 40px;width: 144px;border-right:1px solid #017ba4;position: relative;}
.wrap-nav li a{display: block;height: 40px;line-height: 40px;font-size: 16px;text-align: center;color: #fff;}
.child-list{display:none;position: absolute;top: 99%;z-index:999;left: 0;background-color: #bfbfbf;}
.wrap-nav .child-list li{border-right:none;height: 26px;}
.wrap-nav .child-list li a{font-size: 12px;height: 26px;line-height: 26px;}
.wrap-nav .child-list li a:hover{text-decoration: underline;}
.wrap-nav .last{border-right:none;}
.wrap-nav a:hover{background-color: #0174a5;}
.wrap-slide{border: 1px solid #ccc;margin-top: 15px;height: 400px;position: relative;z-index:10;overflow: hidden;}
.wrap-bm{margin-top: 15px;margin-bottom: 10px;background-color: #f0f0f0;padding: 20px 0;}
.wrap-bm .left{width: 480px;margin-left: 20px;position: relative;}
.wrap-bm .more{position: absolute;right: 30px;bottom: 0;}
.wrap-bm .b5{bottom:5px;}
.wrap-bm h3{color: #fff;background-color: #414141;text-indent: 15px;height: 30px;line-height: 30px;font-size: 14px;margin-bottom: 15px;}
.r-txt{margin-left: 100px;}
.rr-txt{margin-left: 200px;}
.r-txt p{color: #666;font-size: 12px;line-height: 24px;word-break:break-all;padding-right: 10px;}
.r-txt p span{font-weight: bold;}
.wrap-bm .right{width: 480px;height: 270px;margin-left: 20px;position: relative;}

.footer p{color: #535353;font-size: 14px;text-align: center;line-height: 24px;background-color: #8bd3eb;}

.content{background-color: #dcdcdc;margin-top: 15px;padding: 20px 0;}
.left-cont{width:220px;margin-left: 15px;}
.left-title{font-weight: bold;border:1px solid #000;color: #fff;background-color: #4c4c4c;text-indent: 10px;height: 30px;line-height: 30px;font-size: 14px;}
.left-list{background-color: #f6f6f6;border: 1px solid #bfbfbf;border-top: none;}
.left-list li{padding-left: 18px;background: url(../img/liico.jpg) no-repeat left 8px;border-bottom: 1px dashed #ccc;}
.left-list li a{color: #666;font-size: 12px;height: 28px;line-height: 28px;display: block;}
.left-list li a:hover{text-decoration: underline;}
.left-list .last{border-bottom: none;}
.left-contact{background-color: #f6f6f6;border: 1px solid #bfbfbf;margin-top: 20px;}
.left-contact p{font-size: 12px;height: 26px;line-height: 26px;padding-left:18px;color: #666;}
.left-contact .tl{font-weight: bold;border-bottom: 1px solid #bfbfbf;}
.right-cont{width: 750px;margin-left: 15px;}
.right-title{border:1px solid #000;color: #fff;background-color: #4c4c4c;height: 30px;}
.title-r{line-height: 30px;height: 30px;color: #eee;margin-right:20px;}
.title-r a{font-size: 12px;color: #aaa;}
.title-r a:hover{text-decoration: underline;}
.title-l{padding-left: 20px;line-height: 30px;height: 30px;color: #fff;font-weight: bold;}
.wrap-right-list{background-color: #f6f6f6;border:1px solid #bfbfbf;border-top: none;}
.product-list{padding-right: 37px;padding-bottom: 40px;}
.product-list li{margin-left: 37px;float: left;margin-top: 37px;}
.pro_name{text-align: center;word-break:break-all;line-height: 24px;}
.pro_name a{color: #999;font-size: 12px;}
.pro_name a:hover{text-decoration: underline;color: #529fd6;}

.pro-page{padding-bottom:30px;padding-left: 130px;}
.page-lst li{float: left;font-size: 12px;height: 24px;line-height: 24px;color: #212121;margin-right: 8px;}
.page-lst li a{font-size: 12px;color: #212121;}
.page-lst li a:hover{text-decoration: underline;}
.page-lst .page-num-lst a{display: block;width: 24px;height: 24px;line-height: 24px;text-align:center;color: #529fd6;font-size: 12px;border: 1px solid #ccc;}
.page-lst .page-num-lst a:hover{border-color: #666;}
.page-lst .page-num-lst .active{color: #fff;background-color: #02a2de;}
.page-lst select{border: 1px solid #ccc;}

.child-lst{display: none;}
.child-lst li{padding-left: 12px;border-bottom:none;background: url(../img/job_ico.gif) no-repeat left 8px;}
.child-lst li a{color: #8cdeec;height: 24px;line-height: 24px;}

/*fix*/
.theme-default .nivo-controlNav{position: absolute;z-index: 900;right: 50px;bottom: 0;}
.nivo-main-image{width: 1020px!important;height: 400px!important;}
.nivo-directionNav{display: none!important;}
