html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, font, img, ins, kbd, q, s, samp, 
small, strike, strong, tt, var, 
b, u, i, center, dl, dt, dd, ol, ul, li, 
form, label, legend,fieldset,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: none; outline: none; vertical-align: baseline;-webkit-appearance: none;-moz-appearance:none;appearance:none;}
html,body,textarea,input,select,button,h1,h2,h3,h4,h5,h6{line-height: 1.25;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Hiragino Sans GB","Hiragino Sans GB W3";}
html{overflow-x: hidden;font-size: 10px;-webkit-overflow-scrolling:touch;overflow-scrolling:touch;}
body{min-height:100%;}
i{display: inline-block;background-size: contain;background-repeat: no-repeat;}
ol, ul{list-style: none;padding:0;} 
blockquote, q{quotes: none; } 
blockquote:before,blockquote:after, 
q:before, q:after {content: '';content: none;}
img,input,button,select{vertical-align: middle;border:none;outline: none;}
input{border-radius:0;-webkit-appearance: none;-moz-appearance:none;appearance:none;/*-webkit-user-select: none; -moz-user-select: none; user-select: none;*/}
input:focus,textarea:focus{outline: none;}
input[type='button']{cursor: pointer;}
ul,li,a,i,span{-webkit-tap-highlight-color:rgba(0,0,0,0);}/*去除点击高亮样式*/
a{background-repeat: no-repeat;background-size: contain;}
a,a:visited,a:hover,a:focus{text-decoration: none;outline:none;background-color: transparent;}
img{width: 100%;}
textarea{width: 100%;border: none;overflow: hidden;resize: none;}
.group:before,.group:after{content:'';display: block;line-height: 0;height: 0;font-size: 0;clear: both;}
.group{*zoom:1;}
.container{width:100%;color: #999;max-width: 750px;margin: 0 auto;z-index:1;overflow-x: hidden;}







