<!DOCTYPE html>
<html ng-app="tplApp">
<head>
    <title>尤物</title>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,initial-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/animation.css">
    <link rel="stylesheet" type="text/css" href="../css/template.css">
</head>
<body>
<div class="container tpl-container" ng-controller="tplCtrl">
    <div class="logo-box tpl-logo-box hide">
        <a href="javascript:;" class="btn-finish fr" id="btn-finish" ng-click="goShare()">确定</a>
        <a href="javascript:;" class="i-prev publish-prev" ng-click="goBack()"></a>
        <span class="title-txt publish-title-txt">选择模板</span>
    </div>
    <div class="tpl-page" ui-view=""></div>
    <div class="tpl-nav hide">
        <div class="wrap-tpl-lst">
            <ul class="tpl-lst group">
                <li class="active" ui-sref="t1">
                    <div class="img-item">
                        <img src="../img/tpl/1.png">
                    </div>
                    <p>时尚几何</p>
                </li>
                <li ui-sref="t2">
                    <div class="img-item">
                        <img src="../img/tpl/2.png">
                    </div>
                    <p>天空之城</p>
                </li>
                <li ui-sref="t3">
                    <div class="img-item">
                        <img src="../img/tpl/3.png">
                    </div>
                    <p>宜家风尚</p>
                </li>
                <li ui-sref="t4">
                    <div class="img-item">
                        <img src="../img/tpl/4.png">
                    </div>
                    <p>天鹅湖</p>
                </li>
                <li ui-sref="t5">
                    <div class="img-item">
                        <img src="../img/tpl/5.png">
                    </div>
                    <p>黑金时代</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script type="text/javascript" src="../js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="../js/lib/util.js"></script>
<script type="text/javascript" src="../js/module/app-tpl.js"></script>
<script type="text/javascript" src="../js/controller/app-tpl-controllers.js"></script>
</body>
</html>